{% extends 'base.html' %}
{% load static %}

{% block content %}



    <div class="row">

      <div class="col-md-3 mb-4">
        <div class="card d-flex flex-column h-100">
          <img src="" class="card-img-top" alt="Изображение проекта">
          <div class="card-body d-flex flex-column">
            <h5 class="card-title">Тайтл тайтл тайтл</h5>
            <p class="card-text">Контент контент контент</p>
            <a href="" class="btn btn-primary mt-auto">Подробнее</a>
          </div>
        </div>
      </div>

      <div class="col-md-3 mb-4">
        <div class="card d-flex flex-column h-100">
          <img src="" class="card-img-top" alt="Изображение проекта">
          <div class="card-body d-flex flex-column">
            <h5 class="card-title">Тайтл тайтл тайтл</h5>
            <p class="card-text">Контент контент контент</p>
            <a href="" class="btn btn-primary mt-auto">Подробнее</a>
          </div>
        </div>
      </div>

      <div class="col-md-3 mb-4">
        <div class="card d-flex flex-column h-100">
          <img src="" class="card-img-top" alt="Изображение проекта">
          <div class="card-body d-flex flex-column">
            <h5 class="card-title">Тайтл тайтл тайтл</h5>
            <p class="card-text">Контент контент контент</p>
            <a href="" class="btn btn-primary mt-auto">Подробнее</a>
          </div>
        </div>
      </div>

      <div class="col-md-3 mb-4">
        <div class="card d-flex flex-column h-100">
          <img src="" class="card-img-top" alt="Изображение проекта">
          <div class="card-body d-flex flex-column">
            <h5 class="card-title">Тайтл тайтл тайтл</h5>
            <p class="card-text">Контент контент контент</p>
            <a href="" class="btn btn-primary mt-auto">Подробнее</a>
          </div>
        </div>
      </div>

      <div class="col-md-3 mb-4">
        <div class="card d-flex flex-column h-100">
          <img src="" class="card-img-top" alt="Изображение проекта">
          <div class="card-body d-flex flex-column">
            <h5 class="card-title">Тайтл тайтл тайтл</h5>
            <p class="card-text">Жанры жанры жанры</p>
            <a href="" class="btn btn-primary mt-auto">Подробнее</a>
          </div>
        </div>
      </div>


    </div>


{% endblock %}




