{% extends 'base.html' %}
{% load static %}

{% block content %}

<section class="py-5">
  <div class="container">
    <h2 class="text-center mb-4">Аниме</h2>
    <div class="row">

      {% for anime in animes %}
      <div class="col-md-3 mb-4">
        <div class="card d-flex flex-column h-100">
          <img src="{{ item.photo.url }}" class="card-img-top" alt="Изображение проекта">
          <div class="card-body d-flex flex-column">
            <h5 class="card-title">{{ anime.title }}</h5>
            <p class="card-text">{{ anime.content }}</p>
            <a href="{{ anime.slug }}" class="btn btn-primary mt-auto">Смотреть</a>
          </div>
        </div>
      </div>
      {% endfor %}

    </div>
  </div>
</section>

{% endblock %}